<header class="header">
    <div class="logo-container">
        <div class="logo-container__item">
            <div class="logo">
                <a [routerLink]="['/']" class="link"> 
                    <img class="logo__icon" src="../../assets/images/logo.svg" alt="">
                </a>
            </div>
            <h1 class="title">
                <a [routerLink]="['/']" class="link">
                    Online Store
                </a>
            </h1>
        </div>
        <div class="logo-container__item">
            <button
                class="button button_small"
                [routerLink]="['/cart']">
                <img src="../../../assets/images/shopping-bag-dark.svg" class="button__icon">
            </button>
        </div>
    </div>
    <app-navigation></app-navigation>
</header>