<app-main-heading
    (changeSidebarOpenStatus)="onChangeSidebarOpenStatus()"
    [total]="20"
    [isSidebarOpen]="isSidebarOpen"
>
</app-main-heading>
<div class="content">
    <app-sidebar *ngIf="isSidebarOpen" class="sidebar"></app-sidebar>
    <main 
        [ngClass]="{
            'main': isSidebarOpen,
            'main_full-width': !isSidebarOpen
        }">
        <app-search></app-search>
        <app-cards-list [products]="products"></app-cards-list>
        <app-pagination></app-pagination>
    </main>
</div>