@use "../../assets/scss/utils/variables.scss" as *;

::ng-deep {
    .double-slider .ngx-slider .ngx-slider-pointer {
        width: 20px;
        height: 20px;
        top: -7px;
        bottom: 0;
        background-color: $primary-color;
      }
      .double-slider .ngx-slider .ngx-slider-bar {
        background-color: $secondary-color;
        height: 6px;
      }
    
      .double-slider .ngx-slider .ngx-slider-selection {
        background: $primary-color;
      }
    
      .double-slider .ngx-slider .ngx-slider-pointer:after {
        display: none;
      }
}