<nav class="page-navigation">
    <a 
        class="page-navigation__page-link" 
        id="prev-page"
        (click)="pageIndex = pageIndex - 1">
    </a>
    <ul class="page-navigation__list">
        <ng-container *ngIf="totalPages > 0; then pages else message"></ng-container>
        <ng-template #pages>
            <li class="page-navigation__item"
                *ngFor="let item of counter(totalPages); let i = index"
                [ngClass]="getClass(i)">
                <a 
                    href="#" 
                    class="page-navigation__page-link"
                    (click)="pageIndex = i">
                   {{i+1}}
                </a>
            </li>
        </ng-template>
        <ng-template #message>
            <li #message>No pagination</li>
        </ng-template>
    </ul>
    <a 
        class="page-navigation__page-link" 
        id="next-page"
        (click)="pageIndex = pageIndex + 1">
    </a>
</nav>